# some netbeans specific files
nbproject/*
!project.properties
!project.xml
build/*
nbbuild/*
dist/*
nbdist/*
nbactions.xml
manifest.mf
build.xml

c4/nbproject/*
!c4/project.properties
!c4/project.xml
c4/build/*
c4/nbbuild/*
c4/dist/*
c4/nbdist/*
c4/nbactions.xml
c4/manifest.mf
c4/build.xml

# some java specific files
*.class
*.jar
*.war
*.ear

# general swap/backup files
*.so
*.swp
*.lock
/templates/netbeans/template/nbproject/private/
/C4_KI/nbproject/private/
/C4_KI/build/
/c4/nbproject/private/
/c4/dist/
/c4/build/
